.comm-heading{
    font-size: 32px;
    font-weight: 600;
    line-height: 20px;
}

@media (min-width: 0px) and (max-width: 900px) {  
    .comm-heading{
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }
  }